.search-bar-container{
  width: 500px;
  height: 100px;
  margin: 5px 0 5px 0;

  .search-input{
    color: white;
  }

  .search-input:focus{
    border-color: white;
  }

  .search-button{


  }

}
