<div>
  <div class="--with-break">
    <h1>Who am I?</h1>
    <span>My name is Aiko Beyers, 24 year old software developer with a passion for frontend from Antwerp.</span>
  </div>
  <h1>What is this?</h1>
  <div class="--with-break">
    <span >The icapps x GitHub app is meant to be able to quickly lookup any repository that is available on GitHub. And besides this, it's also an exhibition of my skills as a frontend developer.</span>
  </div>
  <h1>Why?</h1>
  <div class="--with-break">
    <span>This app is built to show the good people of icapps that I am a worthy addition to their team. To quote myself: </span>
    <blockquote>
      <p><em>This is a company that is 100% perfect for me and there is nothing more that I want than working there!</em></p>
      <p><em>-me</em></p>
    </blockquote>
    <span>Even though I am not a master of all the elements yet, I feel like this is the best place for me to grow further as a developer, as well as a person.</span>
  </div>
</div>
